body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



#head {
    background-color:#0066ff;
    margin:1px;
    border:2px solid black;
    font-size:20px;
    padding:10px 0px 10px 0px;
    }


#addProject {
    background-color:#0066ff;
    border: 2px solid black;
    margin-bottom:10px;
    padding:10px;
    }
