{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container" id="addProject">
    <div class="row">
        <form method="POST" action='#' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-1">
                <label class="btn btn-success" style="margin-left:7px;">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="task" id="projectForm" >
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" type="submit" onclick="addProject()"> Add project</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered">
    <thead>
    <th class="col-md-2 text-center">Id</th>
    <th class="col-md-8 text-center">Title</th>
    <th class="col-md-2 text-center">Buttons</th>

    </thead>
    <tbody>
    {% for project in projects %}
    <tr id="project{{ project.id }}">
        <td class="col-md-2"> {{ project.id }}</td>
        <td class="col-md-8">
            <a href="/details/{{ project.id }}/">{{ project.title }}</a>
        </td>
        <td class="col-md-2" id="buttons">
            <button class="btn btn-warning" onclick="editProject({{ project.id }})">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" onclick="delProject({{ project.id }})">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
        </td>
    </tr>

    {% endfor %}
    </tbody>


</table>
<script>
    var user = {{ request.user.id }};

</script>


{% endblock content %}

