{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<script>

</script>
<div class="row" id="head">
    <div class="col-md-1">
        <label class="btn btn-success">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
        </label>
    </div>
    <div class="col-md-11">{{ project.title }}</div>
</div>

<table class="table table-hover table-bordered">
    <thead>
    <!--task create input-->
    <tr class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <th class="col-md-1 ">
                <label class="btn btn-success" style="margin-left:7px;">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </label>
            </th>
            <th class="col-md-5 form-inline">
                <label>Task title</label>
                <input type="text" class="form-control" name="task" id="taskTitle">
            </th>
            <th class="col-md-3 form-inline">
                <label>Task deadline</label>
                <input type="date" class="form-control" name="deadline" id="taskDeadline">
            </th>
            <th class="col-md-2">
                <button type="button" class="btn btn-success btn-lg" type="submit" onclick="addTask()"
                        style="margin-left:30px;">
                    Add
                </button>
            </th>
        </form>
    </tr>
    </thead>

    <tbody id="sortable">
    {% for task in tasks %}
    <tr class="row" id="task{{ task.id }}">
        <td class="col-md-1 text-center">
            {% if task.status == True %}
            <input type="checkbox" id="{{ task.id }}" checked>
            {% else %}
            <input type="checkbox" id="{{ task.id }}">
            {% endif %}
        </td>
        <td class="col-md-5 text-center">{{ task.title }}</td>
        {% if task.deadline != None %}
        <td class="col-md-4 text-center">{{ task.deadline|date:"Y-m-d" }}</td>
        {% else %}
        <td class="col-md-4 text-center"></td>
        {% endif %}
        <td class="col-md-2 text-center" id="buttons">
            <button class="btn btn-warning" onclick="editTask({{ task.id }})">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" onclick="delTask({{ task.id }})">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>

    var user = {{ request.user.id }};
    var project = {{ project.id }};


</script>

{% endblock content %}

